<%= @page_title = "Sections" %>
<%= link_to "<< Back to List", { action: 'index' }, class: 'back-link' %>

<div class="sections new">
  <h2>Edit Section</h2>

  <%= form_for :section, url: { action: 'update', id: @section.id } do |f| %>


    <%= render(partial: "form", locals: { f: f }) %>

    <div class="form-buttons">
      <%= submit_tag("Edit Section") %>
    </div>

  <% end %>
</div>
