<!DOCTYPE html>
<html>
  <head>
    <title>Simple  CMS | <%= @page_title || "Admin" %> </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <h1>Simple CMS Admin</h1>
    </div>
    <div id="main">
      <div id="content">
        <% if !flash[:notice].blank? %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; Zaid Lahham</p>
    </div>

  </body>
</html>
